:root {
    --main-blue-color: #00bde3;
    --main-dark-gray-color: #0f0f0f;
    --main-white-color: #f9f9f9;
    --main-font-family: Arial, Helvetica, sans-serif;
  }

.section_sobreNos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.section_sobreNos h2{
    font-family: var(--main-font-family);
    color: var(--main-white-color);
    font-size: 35px;
}

.carrossel-sobreNos{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-family);
}

#texto-aparecendo{
    font-family: var(--main-font-family);
    font-size: 23px;
    color: var(--main-white-color);
}

@media screen and (max-width:900px){
    .section_sobreNos{
        height: auto;
        margin-bottom: 50px;
    }
    .section_sobreNos h2{
        margin-top: 30px;
    }
    .carrossel-sobreNos{
        flex-direction: column;
        padding: 0;
    }
    #texto-aparecendo{
        margin-bottom: 5px;
        font-size: 17px;
        text-align: center;
        padding: 10px;
    }
}
